{# set title on a page based on section #}
{% macro set_title(title) %}
<h1>{{ title }}</h1>
{% endmacro set_title %}

{# list posts from /content/blog #}
{% macro list_posts(pages) %}
  {% if pages | length == 0 %}
    <p>no posts yet. <a href={{ config.base_url }}>cd ~</a></p>
  {% else %}
    <ul class="blog-listing">
    {% for page in pages %}
      <li>
        <span class="blog-date">[{{ page.date | date(format="%Y-%m-%d") }}]</span>
        <a class="blog-link" href={{ page.permalink }}>{{ page.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro list_posts %}
