{% import "macros/macros.html" as macros %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href={{ get_url(path="style.css") }}>
  
  {% if page.extra.meta %}
     <!-- the meta data config goes here  -->
     {% for data in page.extra.meta %}
       <meta 
         {% for key, value in data %}
           {% if key == "property" and value == "og:title"%}
             {% set_global page_has_og_title = true -%}
           {% endif %}
           {% if key == "property" and value == "og:description"%}
             {% set_global page_has_og_description = true -%}
           {% endif %}
           {% if key == "name" and value == "description"%}
             {% set_global page_has_description = true -%}
           {% endif %}
             {{ key }}="{{ value }}"
        {% endfor %}
      />
    {% endfor %}
  {% endif %}

  {# title #}
  {% set current_path = current_path | default(value='/') %}
  {% if current_path == '/' %}
    <title>{{ config.title }}</title>
  {% else %}
    <title>
      {% if page.title %} {{ page.title }}
      {% elif config.title %} {{ config.title }}
      {% else %} Post {% endif %}
    </title>
  {% endif%}
</head>

