{% import "macros/macros.html" as macros %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href={{ get_url(path="style.css") }}>

  {% if page.extra.meta %}
    {% for data in page.extra.meta %}
      <meta
        {% for key, value in data %}
          {{ key }}="{{ value }}"
        {% endfor %}
      />
    {% endfor %}
  {% endif %}

  {% set current_path = current_path | default(value='/') %}
  {% if current_path == '/' %}
    <title>{{ config.title }}</title>
  {% else %}
    <title>
      {% if page.title %} {{ page.title }} | {{ config.title }}
      {% elif section.title %} {{ section.title }} | {{ config.title }}
      {% else %} {{ config.title }}
      {% endif %}
    </title>
  {% endif %}
</head>
